.contact__info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: $grey-color;
  flex-basis: 50%;
  &-box {
    &-title {
      font-size: 2.4rem;
    }
    &:not(:first-child) {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    &-icon {
      width: 2rem;
      height: auto;
    }
    p {
      font-size: 1.6rem;
      opacity: 0.9;
      line-height: 1.6;
    }
  }
}
