.implementation__section {
  background-color: $red-dark-color;
  padding-block: 22rem;
  display: flex;
  flex-direction: column;
  &-title {
    text-align: left;
    margin-left: 6rem;
    color: white;
    margin-bottom: 2.2rem;
    @include sectionLabel;
  }
  &-text {
    font-size: 3.2rem;
    line-height: 4.6rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color: white;
    width: 75%;
    margin-bottom: 4rem;
    margin-inline: auto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 0.1rem;
      width: 3rem;
      background-color: white;
      left: 0;
      bottom: -1rem;
    }
  }
  & button {
    border: 2px solid white;
    margin-left: 18rem;
    &:hover,
    &:active {
      background-color: white;
      color: $red-dark-color;
    }
  }
}
