.intro__section {
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  padding-block: 16rem 32rem;
  margin-top: 8rem;
  backface-visibility: hidden;
  max-width: 130rem;
  margin-inline: auto;
  &-text {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: white;
    font-size: 1.6rem;
    width: 75%;
    //
    &-sub-title {
      font-weight: bold;
      color: $red-dark-color !important;
    }
    &-title {
      font-size: 6.4rem;
      font-weight: 900;
    }
    &-bio {
      line-height: 1.8;
      width: 65%;
      margin-bottom: 2.2rem;
      opacity: 0.8;
    }
  }
  &-photo {
    position: relative;
    left: -10rem;
    //
    & img {
      height: 40rem;
      width: auto;
      position: relative;
      left: -10rem;
    }
    &-bio {
      opacity: 0.1;
      color: gray;
      position: absolute;
      top: 14rem;
      left: -24rem;
      z-index: -1;
      font-size: 6.8rem;
      letter-spacing: 1.8rem;
      font-weight: 900;
      line-height: 1;
    }
  }
}
