// 1500px
@media (max-width: 93.75em) {
  .intro__section {
    flex-direction: column;
    position: relative;
    &-text {
      z-index: 9999;
      &-bio {
        width: 60%;
      }
    }
    &-photo {
      position: absolute;
      top: 52.5%;
      left: 75%;
      transform: translate(-50%, -50%);
      & img {
        height: 35rem;
      }
    }
  }

  .areaApplication__section {
    max-width: 100rem;
    margin-inline: auto;
    &-items {
      grid-template-columns: 1fr 1fr;
    }
  }
}

// 1420px
@media (max-width: 88.75em) {
  .nav {
    padding-inline: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    margin-inline: auto;
    &-logo {
      display: block;
    }

    &__list {
      display: none;
    }
    &-menu-img {
      display: block;
    }
  }
}
// 1184px
@media (max-width: 74em) {
  html {
    font-size: 56.5%;
  }

  .specialModules__section-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .specialModules__section-title {
    text-align: center;
    margin-left: 0;
  }

  .intro__section {
    margin-block-start: 0;
    padding-block-start: 12rem;
    &-photo {
      top: 65%;
      left: 70%;
    }
  }

  .areaApplication__section {
    max-width: initial;
    margin-inline: initial;
    &-items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .whoAreWe__section {
    &-box {
      flex-direction: column;
      text-align: center;
      gap: 2.8rem;
      &-text {
        p {
          margin-bottom: 1.4rem !important;
          margin-inline: auto;
        }
      }
      &-label {
        &::after {
          content: "";
          display: none;
        }
        &-title {
          position: static;
          text-align: center;
          margin-bottom: 2.8rem;
        }
      }
    }
  }
  .areaApplication__section-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .implementation__section button {
    margin-left: 15rem;
  }
}

// 1032px
@media (max-width: 64.5em) {
  .results__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-line {
      display: none;
    }
    &-single:last-child {
      grid-column: 3/1;
    }
  }
  .implementation__section {
    &-text {
      font-size: 2.6rem;
    }
  }
  // .main-btn {
  //   width: 26rem;
  // }
}

// 944px
@media (max-width: 59em) {
  html {
    font-size: 52%;
  }
  .areaApplication__section-items {
    grid-template-columns: 1fr 1fr;
  }

  .partners__section {
    &-gallery {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 6rem;
      column-gap: 0;
    }
  }
  .implementation__section button {
    margin-left: 12rem;
  }
}

// 820px
@media (max-width: 51.25rem) {
  .intro__section {
    padding-block: 16rem 62rem;
    &-text {
      position: absolute;
      width: 90%;
      top: 0;
      gap: 1rem;
      &-title {
        font-size: 8.4rem;
      }
      &-bio {
        width: 95%;
      }
    }
    &-photo {
      left: 60%;
      &-bio {
        font-size: 5.2rem;
        top: 18rem;
        left: -18rem;
      }
    }
  }

  .implementation__section-text {
    font-size: 2.4rem;
  }
}
// 760px
@media (max-width: 47.5em) {
  .nav-logo {
    height: 6rem;
  }
  .nav-menu-img {
    height: 2rem;
  }
  .intro__section-text-title {
    font-size: 6.4rem;
  }
  .areaApplication__section {
    overflow: hidden;
    &-items {
      grid-template-columns: 1fr;
      align-content: center;
    }
  }
  .results__section {
    display: flex;
    flex-direction: column;
    &-single-text {
      font-size: 2.6rem;
    }
  }
  .partners__section {
    display: none;
  }

  .support__section {
    padding-block: 6rem;
    &-sub-title {
      text-align: center;
      margin-left: 0;
    }
    &-box {
      flex-direction: column;
      width: 75%;
      gap: 2.4rem;
      margin-inline: auto;
      text-align: center;
      &-left {
        gap: 2.4rem;
      }
    }
  }
  .introduction__section-text {
    width: 85%;
    line-height: 2;
  }
  .specialModules__section-items {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  .footer {
    flex-direction: column;
    gap: 6rem;
    &__right-box {
      align-items: center;
      text-align: center;
      gap: 6rem;
      &-first-list {
        align-items: center;
      }
      &-second-list {
        flex-wrap: wrap;
        padding: 2rem;
      }
    }
  }
  .implementation__section button {
    margin-left: 10rem;
  }
}

// 600px
@media (max-width: 37.5em) {
  .intro__section-text {
    gap: 2rem;
    &-sub-title {
      font-size: 1.8rem;
    }
  }
  .intro__section-photo {
    left: 65%;
    &-bio {
      font-size: 4.6rem;
    }
  }
  html {
    font-size: 50%;
  }
  .menu__overlay-images-icon {
    height: 8rem;
  }

  .intro__section-text-title {
    font-size: 4.2rem;
  }
  .support__section-box {
    gap: 3.2rem;
    &-left {
      gap: 3.2rem;
    }
  }
  .implementation__section button {
    margin-left: 7.5rem;
  }
}

// 480px
@media (max-width: 30em) {
  .intro__section-photo img {
    height: 32rem;
  }
  .intro__section-text {
    padding-top: 4rem;
  }
  .intro__section-photo {
    left: 65%;
    top: 75%;
    padding-top: 4rem;
    &-bio {
      font-size: 3.4rem;
      left: -12rem;
    }
  }
  .menu__overlay-list-item {
    font-size: 2rem;
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  .areaApplication__section {
    &-items {
      display: flex;
      flex-direction: column;
    }
    &-title {
      font-size: 2.6rem;
    }
  }

  .implementation__section {
    padding-block: 16rem;
    gap: 2rem;
    &-title {
      margin-left: 2rem;
    }
    &-text {
      margin-inline: auto;
      text-align: left;
      font-size: 2.4rem;
      line-height: 2;
      &::after {
        content: "";
        display: none;
      }
    }
    & a button {
      margin-left: 5rem;
      width: 24rem;
    }
  }

  .partners__section-gallery img {
    height: 4rem;
  }
  .footer {
    padding-inline: 4rem;
    gap: 2rem;
    &__left-box {
      align-items: flex-start;
      &-title {
        font-size: 3.2rem;
      }
    }
    &__right-box {
      align-items: flex-start;
      &-first {
        &-title {
          text-align: left;
          font-size: 1.6rem;
        }
        &-list {
          align-items: flex-start;
          gap: 2rem;
          &-item {
            font-size: 2rem;
          }
        }
        &-address {
          font-size: 1.8rem;
        }
      }
      &-second {
        &-list {
          padding: 0;
          &-item {
            font-size: 2rem;
          }
        }
        &-title {
          text-align: left;
        }
      }
    }
  }
}

// 390px
@media (max-width: 24.375em) {
  .intro__section-photo img {
    height: 30rem;
  }
  .areaApplication__section {
    &-title {
      font-size: 2.4rem;
    }
  }
  .implementation__section-text {
    margin-left: 5rem;
  }
  .results__section-single-text {
    font-size: 2.2rem;
  }
}
