.partners__section {
  padding-block: 6rem;
  padding-inline: 8rem;
  background-color: white;

  &-line {
    margin-bottom: 6rem;
    width: 97.5%;
    height: 0.2rem;
    margin-inline: auto;
    background: rgba($grey-color, 0.1);
  }

  &-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 4rem;
    &-photo {
      width: auto;
      height: 5rem;
      cursor: pointer;
    }
  }
  &-title {
    @include sectionLabel;
    color: $red-dark-color;
    margin-bottom: 8rem;
    text-align: center;
  }
}
