// 1060px
@media (max-width: 66.25em) {
  .area__questions-single {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .area__questions-line {
    display: none;
  }
}
// 980px

@media (max-width: 61.25em) {
  .area__intro {
    text-align: center;
  }
  .area__box {
    width: 84rem;
  }
}

// 820px

@media (max-width: 51.25em) {
  .area__box {
    width: 72rem;
    padding: 2rem 4rem;
    gap: 3rem;
    &-text {
      font-size: 2.2rem;
    }
  }
  .area__questions {
    &-single {
      &-text {
        font-size: 2.4rem;
      }
    }
  }
}

// 680px

@media (max-width: 42.5em) {
  .area__questions {
    padding-top: 20rem;
    &-single:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  .area__intro-sub-title {
    font-size: 2rem;
    font-weight: 500;
  }
  .area__box {
    width: 58rem;
    gap: 2rem;
    align-items: center;
    &-text {
      font-size: 2.6rem;
    }
  }
}

// 580px

@media (max-width: 36.25em) {
  .area__intro-title {
    font-size: 5.2rem;
  }

  .area__box {
    width: 50rem;
    flex-direction: column;
    &-text {
      font-size: 2.4rem;
      text-align: center;
    }
  }
  .area__questions {
    padding-inline: 8rem;
  }
}

// 480px

@media (max-width: 30em) {
  .area__main-header {
    top: 85%;
  }
  .area__box {
    width: 44rem;
  }
  .area__questions,
  .area__content,
  .areaApplication__section-items {
    padding-inline: 6rem;
  }
  .area__questions {
    padding-top: 26rem;
  }
}

// 380px

@media (max-width: 23.75em) {
  .area__box {
    width: 42rem;
  }
  .area__intro-sub-title {
    font-size: 2rem;
  }
  .area__questions-single-text {
    font-size: 2rem;
  }
}
