.login {
  padding-block: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  &__logo {
    width: 15rem;
    height: auto;
  }

  &__form {
    text-align: center;
    &-sub-title {
      @include sectionLabel;
      color: $red-dark-color;
    }
    &-title {
      color: white;
      font-size: 2.8rem;
      letter-spacing: 0.1rem;
      margin-block: 2rem;
      margin-top: 1rem;
    }
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      & input {
        border-radius: 0.5rem;
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.8rem;
        padding: 1rem 2rem;
        background-color: #494949;
        &::placeholder {
          color: rgba(white, 0.2);
        }
        &:focus {
          background-color: white;
        }
      }
    }
  }
}
