.menu__overlay {
  background-color: #2a2a2d;

  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 3rem;
    &-single {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: inherit;
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  & div {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    img {
      left: 23rem;
      top: 0.5rem;
      position: absolute;
      height: 1.5rem;
      width: auto;
    }
  }
  &-box {
    top: 3rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
    width: 100%;
    position: absolute;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    &-item {
      color: $grey-color;
      text-decoration: none;
      font-size: 1.8rem;
      font-family: inherit;
    }
  }
}
