@mixin sectionLabel {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

@mixin contactInput {
  font-family: inherit;
  border: 1px solid #e6e6e6;
  outline: none;
  font-size: 1.6rem;
  padding-left: 2.8rem;
  padding-block: 1.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 24px 0 #e8e8e8;
}
