.nav {
  padding-block: 2rem;
  background-color: $grey-color !important;
  display: flex;
  justify-content: space-between;
  max-width: 130rem;
  margin-inline: auto;
  &-logo{
    display:none;
  }
  a {
    text-decoration: none;
  }
  //
  &__logo {
    height: 6rem;
    width: auto;
  }
  &-menu-img {
    display: none;
    height: 3rem;
    width: auto;
    cursor: pointer;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    &-item {
      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.2rem;
      cursor: pointer;
      transition: all 0.2s;
      position: relative;
      &:hover,
      &:active {
        color: $red-dark-color;
      }
      &-icon {
        height: 1rem;
        width: auto;
      }
    }
  }
}

//

.flex-icon {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.nav-unique-btn {
  position: relative;
}
