@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 150rem;
  margin-inline: auto;
  color: $grey-color;
  background-color: $grey-color;
  overflow-x: hidden !important;
  font-family: "Work Sans", sans-serif;
}
